server   { # php/fastcgi
  listen       127.0.0.3:9999;
  server_name  www.listen.com listen;
  root   /var/www/html;
  index  index.php;
  error_page   500;
  cgi on;
  location a {
    root a;
    methods GET;
    location b {
      root b;
    }
    location c { 
      methods POST;
      cgi off;
    }
  }
  location d {
    root d;
  }
  return 55;
}

# server {server_name server22;   methods GET POST DELETE;   #hello
#   listen 12.1.1.1:400;root server22root;
#   location a { root rootForA;
#   methods UPDATE;
#   location a/b {
#     root rootForB;
#   }
#   }
# }

server {
  listen 127.0.0.5:9999; root root1;
}
# server {
#   listen 10;
# }

