server   { # php/fastcgi
  listen       90;
  server_name  www.listen.com listen;
  root   /var/www/html;
  index  index.php;
  error_page   500;
  cgi on;
  location a {
    root a;
    methods GET;
    location b {
      root b;
    }
    location c { 
      methods POST;
      cgi off;
    }
  }
  location d {
    root d;
  }
  return 55;
}

server {server_name server22;   methods GET POST DELETE;   #hello
  listen 12.1.1.1:400;root server1;
}

server {
  listen 1; root root1;
}
server {
  listen 10;
}

