server   { # php/fastcgi
  listen       localhost:9992;
  server_name  www.listen.com listen;
  root   /var/www/html;
  #index  index.php;
  autoindex off;
  cgi off;
  location /nginx-html/pages {
    error_page 401 /error_page401;
    root /html/dfssd;
    methods GET;
    
  error_page 401 /sdafsd;
  return 301 www.example.com;
  location *.cgi {
    root /var/www/html;
    methods GET;
    cgi_path /usr/bin/php-cgi;
    return 301;
  }
}
}
# server {server_name server22;   methods GET POST DELETE;   #hello
#   listen 12.1.1.1:400;root server22root;
#   location a { root rootForA;
#   methods UPDATE;
#   location a/b {
#     root rootForB;
#   }
#   }
# }

# server {
#   listen localhost:9888;
#   server_name www.listen.com listen;
#   root root1;
# }

